.heading {
    text-align: center;
    font-size: x-large;
}

.question {
    text-align: center;
    font-size: larger;
}

.options {
    text-align: center;
}

table {
    margin: 0 auto;
}

input {
    font-weight: bold;
    font-size: large;
    border-style: ridge;
}